In [1]:
# Created by: Anthony ElHabr
# Purpose: Extract scores for every NBA team for a given season (including current season) from espn.go.com
# Modified from: http://danielfrg.com/blog/2013/04/01/nba-scraping-data/

# import requests
from urllib2 import urlopen
import pandas as pd
from bs4 import BeautifulSoup
import re
import os
from collections import OrderedDict
from datetime import datetime, date
import csv


year = 2016
sportsbooks = ['Westage', 'PinnacleSports.com', '5Dimes.eu',
               'BOVADA.lv', 'BETONLINE.ag', 'SportsBetting.ag']
url_template = "http://espn.go.com/nba/team/schedule/_/name/{0}/year/{1}/{2}"

teams_f = "csvs\\nba-teams.csv"
teams_df = pd.read_csv(teams_f, index_col=False)
all_teams = list(teams_df.team_abbrv.values.flatten())

In [30]:
scores_f = "csvs\\nba-season-scores-{0}.csv".format(year)
# dateparse = lambda x: datetime.strptime(x, '%m/%d/%Y')
# scores_df = pd.read_csv(scores_f, na_filter=False, parse_dates=['game_date'], date_parser=dateparse)
scores_df = pd.read_csv(scores_f, na_filter=False, parse_dates=['game_date'])
scores_df2 = scores_df.loc[(scores_df['home_score'] == 'N/A') & (scores_df['game_date'] < date.today())]
print "Updating '{0}' with new game scores.".format(scores_f)
scores_df2 = scores_df2.iloc[:5]
scores_df2

Updating 'csvs\nba-season-scores-2016.csv' with new game scores.

,game_id,season_yr,game_date,team_schedule,win_flag,wins_to_date,losses_to_date,home_flag,home_team,home_score,away_team,away_score
68,N/A,2016,2016-03-17,ATL,N/A,N/A,N/A,1,ATL,N/A,DEN,N/A
126,N/A,2016,2016-01-23,BOS,N/A,N/A,N/A,0,PHI,N/A,BOS,N/A
151,N/A,2016,2016-03-18,BOS,N/A,N/A,N/A,0,TOR,N/A,BOS,N/A
232,N/A,2016,2016-03-17,BKN,N/A,N/A,N/A,0,CHI,N/A,BKN,N/A
314,N/A,2016,2016-03-17,CHA,N/A,N/A,N/A,0,MIA,N/A,CHA,N/A

In [37]:
start_all = datetime.now()
new_scores_count = 0
for index, row in scores_df2.iterrows():
    start = datetime.now()
    
    home_team = scores_df2.loc[index, 'home_team']    
    team_url_name = teams_df.loc[teams_df['team_abbrv'] == home_team, 'team_url_name'].to_string()

    # r = request.get(url_template.formatrow['home_team'].lower(), year, row['team_url_name'])
    # schedule_table = BeautifulSoup(r.text).table
    url = url_template.format(home_team.lower(), year, team_url_name)
    html = urlopen(url)
    soup = BeautifulSoup(html, 'html.parser')
    
    sched_data = soup.find_all(
            name='tr', attrs={'class': re.compile('row')})

    # schedule_table = soup.table
    for row in sched_data:
        cols = row.find_all('td')
        
        other_team = (cols[1].find_all('a')[1]['href'].split('/')[-2]).upper()
        
        try:
            date_raw = cols[0].text
            date_nums = datetime.strptime(date_raw, '%a, %b %d')
            date_month = date_nums.month
            date_day = date_nums.day

            if date_month > 7:
                date_fixed = date(year-1, date_month, date_day)
            else:
                date_fixed = date(year, date_month, date_day)

        except Exception as error:
            # print error
            # exception for leap year
            date_fixed = date(year, 2, 29)
 
        game_date_str = date_fixed.strftime('%m/%d/%Y')
        game_date = datetime.strptime(game_date_str, '%m/%d/%Y')

        if other_team == scores_df2.loc[index, 'away_team'] and\
        game_date == scores_df2.loc[index, 'game_date']:
            try:
                scores_df2.loc[index, 'game_id'] = cols[2].a['href'].split('recap?id=')[1]
                win_bool = True if cols[2].span.text == 'W' else False
                scores_df2.loc[index, 'win_flag'] ='1' if win_bool else '0'

                wl_record = cols[3].text.split('-')
                scores_df2.loc[index, 'wins_to_date'] = wl_record[0]
                scores_df2.loc[index, 'losses_to_date'] = wl_record[1]
                
                new_scores_count += 1
                
                end = datetime.now()
                time_diff = end - start
                print "Finished getting score for {0} at {1} on {2} in {3} s.".format(home_team, other_team, game_date_str, time_diff)

            except Exception as error:
                # Error for games in the past that have been postponed
                # print error
                pass
            
end_all = datetime.now()
time_diff_all = end_all - start_all
print "Finished getting {0} new scores in {1} s".format(new_scores_count, time_diff_all)

Finished getting score for ATL at DEN on 03/17/2016 in 0:00:00.942000 s.
Finished getting score for TOR at BOS on 03/18/2016 in 0:00:01 s.
Finished getting score for CHI at BKN on 03/17/2016 in 0:00:00.987000 s.
Finished getting score for MIA at CHA on 03/17/2016 in 0:00:00.965000 s.
Finished getting 4 new score(s) in 0:00:05.277000 s

In [34]:
scores_df2.head()

,game_id,season_yr,game_date,team_schedule,win_flag,wins_to_date,losses_to_date,home_flag,home_team,home_score,away_team,away_score
68,400828902,2016,2016-03-17,ATL,1,40,29,1,ATL,N/A,DEN,N/A
126,N/A,2016,2016-01-23,BOS,N/A,N/A,N/A,0,PHI,N/A,BOS,N/A
151,400828910,2016,2016-03-18,BOS,1,47,21,0,TOR,N/A,BOS,N/A
232,400828903,2016,2016-03-17,BKN,1,34,33,0,CHI,N/A,BKN,N/A
314,400828901,2016,2016-03-17,CHA,0,39,29,0,MIA,N/A,CHA,N/A

In [116]:
bet_f = 'csvs\\nba-betting-lines2.csv'
bet_df = pd.read_csv(bet_f, index_col=False, na_filter=False)
bet_df2 = bet_df.loc[bet_df['home_score'] == '']
bet_df2 = bet_df2[::]

for index, row in bet_df2.iterrows():
    tie_val = 'N/A'

    # home_team = row['home_team']
    # away_team = row['away_team']
    # game_date = row['game_date']
    home_team = bet_df2.loc[index, 'home_team']
    away_team = bet_df2.loc[index, 'away_team']
    game_date = bet_df2.loc[index, 'game_date']
    # need to reformat game_date because it is stripped of leading 0's
    game_date = datetime.strptime(game_date, '%m/%d/%Y')
    game_date = game_date.strftime('%m/%d/%Y')

    game_df = scores_df.loc[(scores_df['team_schedule'] == home_team) & (
        scores_df['away_team'] == away_team) & (scores_df['game_date'] == game_date)]

    # must use bet_df2.loc[index, 'home_score'] instead of
    # row.home_score in order to write value to original DataFrame
    # because row.home_score simply writes to a view (i.e. a copy of
    # the orignal DataFrame)
    home_score = bet_df2.loc[index, 'home_score'] = float(
        game_df['home_score'])
    away_score = bet_df2.loc[index, 'away_score'] = float(
        game_df['away_score'])

    def calculate_result(bet_df2, index, row, param, home_score, away_score, game_date):
        t = 'correct'
        f = 'incorrect'
        tie_str = 'N/A'
        tie_num = 0
        loss_num = -100
        try:
            if param == 'spread' or param == 'moneyline':
                if param == 'spread':
                    home_spread = float(bet_df2.loc[index, 'home_spread'])
                    num = home_score + home_spread - away_score
                elif param == 'moneyline':
                    num = home_score - away_score
                str1 = home_team
                str2 = away_team
                str3 = 'home'
                str4 = 'away'
            elif param == 'point_total':
                num = home_score + away_score
                str1 = 'o'
                str2 = 'u'
                str3 = 'over'
                str4 = 'under'

            if num > 0:
                bet_df2.loc[
                    index, '{0}_{1}_pick'.format(t, param)] = str1
                bet_df2.loc[
                    index, '{0}_{1}_pick'.format(f, param)] = str2
                bet_df2.loc[
                    index, '{0}_{1}_diff'.format(t, param)] = num
                bet_df2.loc[
                    index, '{0}_{1}_diff'.format(f, param)] = -num

                if float(bet_df2.loc[index, '{0}_{1}_payout'.format(str3, param)]) < 0:
                    bet_df2.loc[index, '{0}_{1}_payout'.format(t, param)] = float(
                        100*(100/abs(float(bet_df2.loc[index, '{0}_{1}_payout'.format(str3, param)]))))
                else:
                    bet_df2.loc[index, '{0}_{1}_payout'.format(t, param)] = float(
                       bet_df2.loc[index, '{0}_{1}_payout'.format(str3, param)])
                bet_df2.loc[
                    index, '{0}_{1}_payout'.format(f, param)] = loss_num

            elif num < 0:
                bet_df2.loc[
                    index, '{0}_{1}_pick'.format(t, param)] = str2
                bet_df2.loc[
                    index, '{0}_{1}_pick'.format(f, param)] = str1
                bet_df2.loc[
                    index, '{0}_{1}_diff'.format(t, param)] = -num
                bet_df2.loc[
                    index, '{0}_{1}_diff'.format(f, param)] = num

                if float(bet_df2.loc[index, '{0}_{1}_payout'.format(str3, param)]) < 0:
                    bet_df2.loc[index, '{0}_{1}_payout'.format(t, param)] = float(
                        100*(100/abs(float(bet_df2.loc[index, '{0}_{1}_payout'.format(str3, param)]))))
                else:
                    bet_df2.loc[index, '{0}_{1}_payout'.format(t, param)] = float(
                       bet_df2.loc[index, '{0}_{1}_payout'.format(str3, param)])
                bet_df2.loc[
                    index, '{0}_{1}_payout'.format(f, param)] = loss_num

            elif num == 0:
                # """
                bet_df2.loc[
                    index, '{0}_{1}_pick'.format(t, param)] = tie_str
                bet_df2.loc[
                    index, '{0}_{1}_pick'.format(f, param)] = tie_str
                bet_df2.loc[
                    index, '{0}_{1}_diff'.format(t, param)] = tie_num
                bet_df2.loc[
                    index, '{0}_{1}_diff'.format(f, param)] = tie_num
                bet_df2.loc[
                    index, '{0}_{1}_payout'.format(t, param)] = tie_num
                bet_df2.loc[
                    index, '{0}_{1}_payout'.format(f, param)] = tie_num
                # """
                # pass
            else:
                print "Could not find score for game on {0}.".format(game_date)
        except ValueError as error:
            # ValueError: could not convert string to float: N/A
            # for param = 'spread' or 'point_total'
            print "Error: '{0}' for game on {1}.".format(error, game_date)
            pass


    calculate_result(
        bet_df2, index, row, 'spread', home_score, away_score, game_date)
    calculate_result(
        bet_df2, index, row, 'point_total', home_score, away_score, game_date)
    calculate_result(
        bet_df2, index, row, 'moneyline', home_score, away_score, game_date)

Error: 'could not convert string to float: N/A' for game on 03/10/2016.
Error: 'could not convert string to float: N/A' for game on 03/10/2016.
Error: 'could not convert string to float: N/A' for game on 03/12/2016.
Error: 'could not convert string to float: N/A' for game on 03/14/2016.
Error: 'could not convert string to float: N/A' for game on 03/14/2016.
Error: 'could not convert string to float: N/A' for game on 03/14/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Error: 'could not convert string to float: N/A' for game on 03/16/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.
Could not find score for game on 03/17/2016.

In [119]:
bet_df2.describe()

,rotation_num,away_spread,home_spread,over_point_total_payout,under_point_total_payout,away_moneyline_payout,home_moneyline_payout
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,629.409836,4.051913,-3.923497,-81.013661,-82.789617,185.404372,-308.562842
std,112.413529,6.315780,6.150144,51.016219,48.322172,417.871220,732.584792
min,502.000000,-11.500000,-18.000000,-117.000000,-113.000000,-820.000000,-7000.000000
25%,516.000000,0.000000,-9.000000,-110.000000,-110.000000,0.000000,-361.250000
50%,612.000000,4.500000,-4.000000,-108.000000,-108.000000,145.000000,-164.500000
75%,708.000000,9.000000,0.000000,-102.000000,-102.000000,295.000000,0.000000
max,880.000000,18.000000,11.000000,102.000000,100.000000,2400.000000,595.000000